/*----------------------------------------------
--------------------FONT STYLES-----------------
------------------------------------------------*/

@font-face {
  font-family: 'Old Sport';
  src: url("../fonts/OldSport.woff") format("woff"), /* Modern Browsers */
    url("../fonts/OldSport.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*----------------------------------------------
----------------------GENERAL--------------------
------------------------------------------------*/

body {
  overflow-x: hidden;
  background: #fff;
}
*::selection { 
  background: #d6ecff;
  color: #fff;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
p {
  transition: all 0.4s ease; 
  font-size: 15px;
}
.pace .pace-progress {
  background: #fff;
  /*top: 50%;*/
}

/*----------------------------------------------
-------------------MAIN BLOCK-------------------
------------------------------------------------*/

.main_hero {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  z-index: 2;
}
.video_overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.42);
  background-image: url(../img/pattern2.png);
  z-index: 1;
}
/* Pull video under overlay */
video.banner {
  height: 100% !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1 !important;
  object-fit: cover;
  background-image: url(../img/overlay_bg.jpg);
  position: absolute !important;
}
.main_hero .boxing_header {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 2;
}
.main_hero .boxing_header h1 {
  font-family: 'Old Sport';
  font-size: 80px;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}
.main_hero .boxing_header h4 {
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}
/*----------------------------------------------
-------------------TESTIMONIALS BLOCK-------------------
------------------------------------------------*/

.testimonials {
  position: relative;
  height: auto;
  width: 100%;
  display: block;
  background: #17345e;
  padding-top: 30px;
  padding-bottom: 50px;
  z-index: 2;
}

/*SLIDER*/
.slider {
  z-index: 20;
  width: 900px;
  position: relative;
  height: 280px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: grab;
  /*border: 2px solid white;*/
  -webkit-perspective: 1000;
  transform: translateZ(0);
}
.slider:hover { 
  transform: scale(1.02);
  -webkit-perspective: 1000;
}
.slide:focus { 
  outline: none;
}
.slick-dots {
  bottom: -17px !important;
  transition: all 0.3s ease;
  transform: translateZ(0);
}
.slick-dots li button:before {
  color: #fff !important;
  transition: opacity 0.7s ease;
}
.slick-slide {
  margin: 0 27px;
}
/* the parent */
.slick-list {
  margin: 0 -27px;
}
.slide {
  position: relative;
  display: inline-block;
  background: #fff;
  height: 250px;
  padding: 20px;
  border-radius: 6px;
}
.slide .person {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
}
.center-middle h2 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: #3b3b3b;
  padding-bottom: 10px;
  user-select: none;
}
.center-middle p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #3b3b3b;
  user-select: none;
}
.speech_bubble {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  margin: 0 0 0 120px;
  margin-bottom: 10px;
  bottom: -30px;
  left: 0;
}

/*----------------------------------------------
-------------------SOCIAL BLOCK-----------------
------------------------------------------------*/

/*----------------------------------------------
-----------------MEMBERSHIP BLOCK---------------
------------------------------------------------*/

/*----------------------------------------------
-----------------TIMETABLE BLOCK----------------
------------------------------------------------*/

/*----------------------------------------------
-----------------EXECUTIVES BLOCK---------------
------------------------------------------------*/

/*----------------------------------------------
------------------CONTACT BLOCK-----------------
------------------------------------------------*/

/*----------------------------------------------
------------------FOOTER BLOCK-----------------
------------------------------------------------*/

footer {
  position: fixed;
  width: 100%;
  display: block;
  background: #030822;
  padding: 20px;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: -2;
  height: 220px;
}
footer .contact_icons {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
}
footer .contact_icons .icon {
  width: 40px;
  height: 40px;
  background: #030822;
  border-radius: 8px;
  transition: all 0.5s ease;
}
footer .contact_icons .ig .icon {
  border-radius: 12px;
}
footer .contact_icons .gm .icon {
  background-size: 50% 100%;
}
footer .contact_icons .icon:hover {
  background: #283d8a;
}
.fb .link_info,
.ig .link_info,
.gm .link_info {
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  font-family: 'Anton', sans-serif;
  text-decoration: none;
  color: #fff;
}
.fb .link_info {
  transform: translateX(-50px) translateY(-30px);
  opacity: 0;
}
.fb:hover .link_info {
  transform: translateX(-90px) translateY(-30px);
  opacity: 1;
}
.ig .link_info {
  transform: translateX(-20px) translateY(-60px);
  opacity: 0;
}
.ig:hover .link_info {
  transform: translateX(-20px) translateY(-80px);
  opacity: 1;
}
.gm .link_info {
  transform: translateX(20px) translateY(-30px);
  opacity: 0;
}
.gm:hover .link_info {
  transform: translateX(60px) translateY(-30px);
  opacity: 1;
}
footer .copyright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Anton', sans-serif;
  width: 100%;
  margin-top: 50px;
  color: #9b9b9b;
  text-align: center;
}
.fixed_spacer {
  pointer-events: none;
}
/*----------------------------------------------
------------------NAVBAR STYLES-----------------
------------------------------------------------*/

.navbar-default {
  background-color: rgba(4, 20, 44, 0.89);
  z-index: 1000;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 125px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  top: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  transition: background 0.4s ease, color 0.2s ease, opacity 0.8s ease !important;
}
.mobile {
  display: none; 
}
.navbar {
  border-radius: 0px 0px 0px 0px;
  border: 0px;
}
.navbar-nav {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.navbar-nav li {
  display: inline-block;
  float: none;
  display: inline-block !important;
}
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:focus, 
.navbar-default .navbar-nav .active a:hover {
  background: transparent;
}
.navbar-default .navbar-nav li a::after {
  bottom: -4px;
}
.navbar-default .navbar-nav li a {
  color: #fff;
  font-family: 'Anton', sans-serif;
}
.navbar-default .navbar-nav li a:focus {
  color: rgb(206 206 206);
}
.navbar-default .navbar-nav li a:hover {
  -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: rgb(206 206 206) !important;
}
.navbar-brand {
  display: inline-block;
  position: relative;
  float: unset; 
  height: auto; 
  padding: 25px 15px 0px 15px; 
  font-size: unset; 
  line-height: unset;
}
.navbar-brand.mobile {
  display: none;
}
.navbar-brand picture {
  display: block;
}
.navbar-brand picture img {
  width: 80px;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default > .text-container > .navbar-header > a > img {
  height: 70px !important;
  padding: 4px 8px 22px 8px;
}
.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  display: inherit;
  font-family: 'Anton', sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 40px;
}
.navbar-toggle {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: fixed;
  top: 2px;
  right: 20px;
  border: 0px solid transparent;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border: none; 
}
.navbar-collapse.in {
  overflow: hidden;
}
.navbar-collapse.in  .navbar-nav {
  transition: all 0.3s ease-in-out;
  opacity: 1 !important;
}
.navbar-toggle {
  overflow: hidden;
}
.navbar-toggle .icon-bar {
  transition: opacity, transform;
  transition-duration: 200ms;
  color: #fff;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 29px;
  height: 3px;
}

/*----------------------------------------------
------------------MEDIA QUERIES-----------------
------------------------------------------------*/

@media only screen and (min-width: 1800px) {

}
@media only screen and (max-width: 991px) {
  .slider { 
    width: 600px;
    height: 320px;
  }
  .slide {
    overflow: hidden;
    height: 300px;
  }
  .slick-dots {
    bottom: -18px !important;
  }
  .slider:hover,
  .slider:hover .slick-dots {
    transform: none;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-brand.mobile {
    display: block !important;
    width: 100px;
    height: 40px;
    padding-top: unset;
    margin-bottom: auto;
    left: 17px;
    top: 10px;
    position: fixed;
    opacity: 1 !important;
    overflow: visible;
    z-index: 120;
  }
  .navbar-brand picture img {
    width: 57px;
  }
  .navbar-brand {
    display: none !important;
  }
  .navbar-nav {
    height: 100vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -30px;
  }
  .navbar-nav li {
    float: left;
    width: 100%;
    text-align: center;
  }
  .navbar-header {
    height: 54px;
  }
  .navbar-collapse.collapsing {
    width: 100%;
    background: rgba(4, 20, 44, 0.89);
  }
  .navbar-collapse {
    background: rgba(4, 20, 44, 0.89);
  }
  .navbar-default {
    padding-left: 0;
  }
  .navbar-default {
    transition: unset;
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 0px; 
  }
  .navbar-nav {
    margin-left: -6px;
  }
  .navbar-default {
    height: 55px;
    z-index: 99;
  }
  .navbar-brand.mobile {
    top: 2px;
  }
  .navbar-brand picture img {
    width: 50px;
  }
  .slider:hover {
    transform: scale(1.0);
  }
  .slider { 
    width: 500px;
    height: 320px;
  }
  .slide {
    overflow: hidden;
    height: 300px;
  }
  .slick-dots {
    bottom: -18px !important;
  }
}
@media only screen and (max-width: 479px) {
  .navbar-brand {
    left: 18px;
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    padding-bottom: 7px; 
  }
  .navbar-nav {
    margin-left: auto;
  }
  .slider { 
    width: 360px;
    height: 340px;
  }
  .slide {
    overflow: hidden;
    height: 320px;
  }
  .slick-dots {
    bottom: -18px !important;
  }
  .center-middle p {
    font-size: 14px;
  }
  .main_hero .boxing_header h1 {
    font-size: 60px;
  }
  .navbar-brand.mobile {
    left: 0px;
  }
  .navbar-toggle {
    right: -6px;
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    font-size: 26px;
  }
}
@media only screen and (max-width: 320px) {
  .slider { 
    width: 300px;
    height: 370px;
  }
  .slide {
    overflow: hidden;
    height: 350px;
  }
  .slick-dots {
    bottom: -18px !important;
  }
  footer .copyright {
    font-size: 13px;
  }
}
